#map {
  position: inherit !important;
  min-height: 480px;
  max-height: 680px;
  min-width: 100vw !important;
  max-width: 100vw !important;
  margin: 0 auto;
}

#map > div {
  position: relative !important;
  height: 400px !important;
  width: 100vw !important;
}

